<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dynamic web page</title>


<body>
	

	<form action="control" method="post">
	
		<label>Name :</label> <input type="text" name="name"/>
		<br/>
		<br/>
		
		<label>Subject1 marks :</label> <input type="number" name="mark1" required/>
		<br/>
		<label>Subject2 marks :</label> <input type="number" name="mark2" required/>
		<br/>
		<label>Subject3 marks :</label> <input type="number" name="mark3" required/>
		<br/>
		<label>Subject4 marks :</label> <input type="number" name="mark4" required/>
		<br/>
		<label>Subject5 marks :</label> <input type="number" name="mark5" required/>
		<br/>
		
		<input type="submit" value="check percentage"/>
	
	</form>
	
</body>
</html>